// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
	box-sizing: border-box
	
html, body
	height: 100%

body
	background: #aaa

.login-box-positioner
	width: 10px
	height: 50%
	margin-bottom: -170px
	float: left

.login-box
	position: relative
	width: 560px
	height: 340px
	margin: 0 auto
	clear: left
	background: rgba(0,0,0,1) url(../images/login.bg.jpg) 100% 100% no-repeat
	background-position: -120px 0
	border: 4px solid #999
	border-radius: 8px
	box-shadow: 0px 0px 20px rgba(0,0,0,0.6)
	img.logo
		max-height: 100px
		max-width: 100px
		float: left
		& + h3
			padding-left: 150px
			color: #ddd
			line-height: 100px
	form
		padding-left: 150px
		input:not([type=submit])
			font-size: 1em
			line-height: 2em
			width: 300px
			margin-bottom: 20px